*{								/*обращаемся ко всем элементам*/
	margin: 0;					/*внешние отступы*/
	font-family: sans-serif;			/*шрифт*/
	text-decoration: none;			/*убираем подчёркивание*/
}



.sale{
	background: red;				/*задний фон*/
	display: flex;					/*выровнить в строчку элементы внутри*/
	justify-content: space-between;	/*выровнить элементы по ширине*/
	align-items: center;			/*выровнить элементы по вертикали*/
	padding: 10px 250px;			/*внутренние отступы*/
}
.sale p{
	color: white;					/*цвет шрифта*/
	text-transform: uppercase;		/*делает буквы заглавными*/
	font-weight: 700;				/*толщина шрифта*/
}
.sale button{
	border-radius: 5px;				/*скругление углов*/
	font-weight: 700;				/*толщина шрифта*/
	padding: 10px 35px;				/*внутренние отступы*/
	background: white;				/*задний фон*/
	border: none;					/*убираем границы(обводку)*/
	font-size: 16px;				/*размер буквы*/
}
.hat{
	display: flex;					/*выровнить в строчку элементы внутри*/
	justify-content: space-between;	/*выровнить элементы по ширине*/
	align-items: center;			/*выровнить элементы по высоте*/
	padding: 10px 250px;			/*внутренние отступы*/
	border: black 1px solid;			/*настройка границы*/
	position: sticky;				/*прилипает к указанному краю*/
	top: 0;						/*к верхнему краю*/
	background: white;				/*задний фон*/
	z-index: 9999;					/*перенести объект на первый слой*/
}
.hat a{
	transition: 0.3s;				/*продолжительность hover*/
}
.hat a:hover{
	transform: scale(1.1);			/*изменение размера объекта*/
}
.hat img{
	height: 50px;					/*высота*/
}
.hat_links{
	display: flex;					/*выровнить в строчку элементы внутри*/
	justify-content: space-between;	/*выровнить элементы по ширине*/
	width: 60%;					/*ширина*/
}
.hat_links a{
	color: black;					/*цвет шрифта*/
	font-size: 18px;				/*размер шрифта*/
}
.hat_cont{
	display: flex;					/*выровнить в строчку элементы внутри*/
	justify-content: space-between;	/*выровнить элементы по ширине*/
	width: 6%;					/*ширина*/
}
.hat_cont img{
	height: 30px;					/*высота*/
}
.promo{
	height: 570px;					/*высота*/
	background: url(img/bg_prev.jpg);	/*задний фон - картинка*/
	background-size: cover;			/*увеличиваем картинку во весь div*/
	background-position: 50% 50%;		/*размещаем картинку на заднем фоне по центру*/
}
.promo a{
	display: block;				/*делаем блочный элемент*/
	width: 100%;					/*ширина*/
	height: 100%;					/*высота*/
}
.sub_promo{
	background: url(img/bg_prev2.jpg);	/*задний фон - картинка*/
	height: 150px;					/*высота*/
	background-position: 50% 50%;		/*размещаем картинку на заднем фоне по центру*/
	background-size: cover;			/*увеличиваем картинку во весь div*/
}
.rec{
	padding: 50px 200px;			/*внутренние отступы*/
}
h2{
	text-align: center;				/*текст по центру*/
	text-transform: uppercase;		/*делает буквы заглавными*/
}
.rec_box{
	display: flex;					/*выровнить в строчку элементы внутри*/
	justify-content: space-between;	/*выровнить элементы по ширине*/
	margin-top: 50px;				/*отступ сверху*/
}
.rec_item{
	background: white;				/*задний фон*/
	width: 250px;					/*ширина*/
	box-shadow: 0 0 10px gray;		/*тень вокруг объекта*/
	padding: 20px;					/*внутренний отступы*/
	border-radius: 10px;			/*скругление углов*/
	text-align: center;				/*текст и картинки по центру*/
	transition: 0.5s;				/*плавность и продолжительность hover*/
}
.rec_item:hover{					/*меняем элемент при наведении*/
	transform: scale(1.1);			/*увеличить элемент*/
}
.rec_item img{
	height: 170px;					/*высота*/
}
.rec_item h3{
	text-transform: uppercase;		/*все буквы заглавные*/
	margin-top: 20px;				/*внешний отступ сверху*/
}
.rec_item .old_price{
	font-size: 22px;				/*размер шрифта*/
	color: gray;					/*цвет текста*/
	text-decoration: line-through;	/*перечеркнуть текст*/
	margin-top: 10px;				/*внешний отступ сверху*/
}
.rec_item .new_price{
	font-size: 26px;				/*размер шрифта*/
	color: red;					/*цвет текста*/
	margin-top: 10px;				/*внешний отступ сверху*/
	font-weight: 700;				/*жирность текста*/
}
.rec_item button{
	padding: 10px 40px;				/*внутренний отступ сверху*/
	color: red;					/*цвет текста*/
	background: white;				/*задний фон*/
	border: 2px solid red;			/* граница*/
	border-radius: 5px;				/*скругление углов*/
	margin-top: 20px;				/*внешний отступ сверху*/
	text-transform: uppercase;		/*заглавные буквы*/
	font-size: 14px;				/*размер шрифта*/
	font-weight: 700;				/*толщина шрифта*/
	cursor: pointer;				/*меняем курсор*/
}
.rec_item button:hover{
	background: red;				/*задний фон*/
	color: white;					/*цвет текста*/
}

.smi{
	background: rgb(220, 220, 220);	/*цвет заднего фона*/
	padding: 50px 200px;			/*внутренний отступ*/
}
.smi_box{
	display: flex;					/*выровнить в строчку элементы внутри*/
	justify-content: space-between;	/*выровнить элементы по ширине*/
	margin-top: 50px;				/*отступ сверху*/
}
.smi_item{
	width: 350px;					/*ширина*/
	height: 250px;					/*высота*/
	background-color: white;			/*цвет заднего фона*/
	display: flex;					/*выровнить в строчку элементы внутри*/
	justify-content: center;			/*выровнить элементы по ширине*/
	align-items: center;			/*выровнить элементы по вертикали*/
	text-align: center;				/*выровнить текст по центру*/
	border-radius: 10px;			/*скругление углов*/
	background-repeat: no-repeat; 	/*убираем повторы у заднего фона*/
	background-position: 50% 50%;		/*ставим картинку на заднем фоне по центру*/
	transition: 0.3s;				/*продолжительность hover*/
	color: rgba(0,0,0,0);			/*прозрачый цвет букв*/
}
.smi_item:hover{					/*изменяем объект при наведении*/
	background-position: 50% 10%;		/*cмещаем картинку на заднем фоне вверх*/
	color: black;					/*цвет букв*/
}
.mania{
	background-image: url(img/mania.png);/*картинка на задний фон*/
}
.sostav{
	background-image: url(img/sostav.png);/*картинка на задний фон*/
}
.progamer{
	background-image: url(img/progamer.png);/*картинка на задний фон*/
}
.footer{
	background-color: black;				/*цвет заднего фона*/	
	text-align: center;					/*выравние текста по центру*/
	color: white;						/*цвет букв белый*/
	padding: 50px 0px;					/*внутренний отступ*/
}



.footer{
	background-color: black;											
	text-align: center;								
	color: white;										
	padding: 50px 0px;							
}